
/***********GENERAL*********************/

body {
	width:100%;
	margin: 0 auto;
	font-family: 'Bebas-Neue', sans-serif;

}

main {
	margin: 0 auto;
	min-width: 300px;
  width: 80%;
  margin-top: 50px;
  min-height: 500px;
  display: block;
}

a {
	color:#e0d0ae;
	padding: 1vw;
	margin: 0 auto;
	text-decoration: none;
}

.warning {
  color: red;
}

/***********Header*********************/
header {	
    height:7vw;
    background-color: #c4cdc1 ;
    box-shadow: 0px 5px 20px 5px #495f4b70;
}

#topnavDIV ol {
    margin: 0 auto;
    list-style: none;
    padding-inline-start: 0px !important;
    display: inline-block;
    width: 100%;
    padding-left: 0;
}

#topnavDIV ol li {
    line-height:5vw;
    /* float:left; */
    margin-top: 1%;	
    text-transform: uppercase;
}

#topnavDIV  h1 {
    font-size: 1vw;
    margin:auto 0;	
}

#topnavDIV ol a {
    text-decoration: none;
    color: #658b6f ;
}
.activelink{
    border-bottom:#658b6f !important;
}
/* .header_right{
    padding-right: 4vw;
    display: inline-block;
   
}
.header_middle{
    display: inline-block;
    
}
.header_left{
    padding-left: 6vw;
    display: inline-block;
} */

.fav-icon {
  padding-top:20px;
    width:30px;
    height:auto;
}
.logoheader {
    padding-top:20px;
    width:60px;
    height: auto;
}

.logodiv {
    width:5vw;
    float: left;
    padding-right: 2vw;
}

.fav-div {
    width:5vw;
    float: left;
    padding-right: 2vw;
}




/******** Home Page ************/
.slideshow-container{
    width:100%;
    height:500px;
    position:relative;
    margin:auto;
    display: inline-block;
    
}

.mySlides{
    display:none;
}

.mySlides img{
  margin:0px;
  width:100%;
  height:700px;
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.textSlider {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  padding-left:150px;
  position:absolute;
  bottom: -55px;
  width: 100%;
  text-align: left;
}

/******** All Destinations ************/
main .destGrid{
    text-align: center;
    max-width:100% !important;

}

  main>ul>li {
    width: 30%;
    padding: 10px;
    display: inline-block;
  }

  .text-on-img {
    position: relative;
    display: inline-block;
  }

  .text-on-img>a {
    display: inline-block;
  }

  .img-fix {
    transition: transform .7s;
    position: relative;
    margin: 0 0 15px 0;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .img-fix:hover {
    transform: scale(1.02);
  }
/**************'Destination**************/
.destination-page{
  width: 80%;
  margin: 90px auto;
}
.destination-page h3{
  color: #658b6f;
  }

.destination-top-div{
  margin-bottom:60px;
  display: inline-block !important;
  width: 100%;
}
.destination-info-div {
  width: 50%;
  /* color: #495f4b; */
  color: #658b6f;
  float: left;
  box-sizing: border-box;
}
.destination-header{
  display: block;
  font-size: 28px;
  margin-top: 0;
  text-align: left;
  width: 100%;
  padding: 15px;

}
.destination-table{
  width:100%;
  table-layout: fixed
}
.destination-table tr {
  padding: 15px;
  display: block;
}
.destination-table th {
  text-align: left !important;
  padding-left: 0;
  
}
.destination-table td{
  padding-left: 15px;  
}

.destination-img-div{
  width: 50%;
  display: block;
  float: right;
}
.destination-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.destination-text-div{
  display: inline-block;
  padding: 0 10%;
  margin: 0 auto;
}
.destination-divider{
  border-top: 1px solid #658b6f;
  margin: 30px auto 30px auto;
  width: 100%;
}

.comments-div{

  margin: 30px auto;
}
.comment-form{
  width: 60%;
  margin: 30px auto;
}
.comments-div input{
  display: block;
  margin-bottom: 12px;
  border-color: #658b6f;
  border-style:solid;
  border-radius:4px;
  padding: 4px 4px 4px 8px;
  border-width: 1px;
  width: 50%;
}
.commment_textarea{
  height:90px;
  width:100%;
  resize: none;
  border-color: #658b6f;
  border-style:solid;
  border-radius:4px;
  padding: 4px;
  border-width: 1px;
}
.comments-div button {
padding: 12px 18px;
margin-top: 15px;
border: none;
border-radius: 8px;
background-color: #658b6f;
font-weight: bold;
color: #fff;
text-transform: uppercase;
}
.posted-comments {
  width: 60%;
  margin: 30px auto;
}

.posted-comments-table {
  width: 100%;
}

.posted-comments-table tr{
  border-bottom: #658b6f solid 1px;
  margin: 30px auto 30px auto;
  padding-bottom: 15px;
  display:block;
  width: 100%;
}
.posted-comments-table th{
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: left !important;
}
.posted-comments-table td{
  display: block;
  width: 60%;
  margin: 0 auto;
}

/*********** Random destination *********************/
.randomize {
    text-align: center;
}

#randomize-btn {
    padding: 15px 20px;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 1.4em;
    border: none;
    border-radius: 8px;
    background-color: #658b6f;
    font-weight: bold;
    color: #fff;
}

#randomize-btn:hover {
    background-color: #93caa2;
}

#random-destination {
  margin-top: 40px;
  color: #34503b;
}

#random-destination > img {
    width: 80%;
    margin: 40px 0px;
}

#random-destination > a {
    padding: 10px 15px;
    background-color: #658b6f;
    color: #fff;
    border-radius: 5px;
}

#random-destination > a:hover {
  background-color: #93caa2;
}


/******** Upload Destination ************/
#destinationUpload {
  width: 60%;
}

#destinationUpload label{
  font-size: 1em;
  display: block;
  margin-bottom: 5px;
}

#destName, #destDes, #destCity {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  font-family: 'Bebas-Neue', sans-serif;
  font-size: 0.9em;
  margin-bottom: 40px;
}

#destDes {
  height: 4em;
}

#destinationUpload button {
  padding: 14px 20px;
  margin: 40px 0px;
  border: none;
  border-radius: 8px;
  background-color: #658b6f;
  color: #fff;
}

#destinationUpload button:hover {
  opacity: 0.7;

}


/******** Login Page ************/
.loginBox{
    padding-top:130px;
    width:50%;
    margin:auto;
}

.LoginForm input[type=text]{
  width: 62%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.LoginForm input[type=password] {
  width: 62%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.LoginForm input[type=submit] {
  background-color: #658b6f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:3%;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.SignUpHere{
    color: #c4cdc1;
    margin:0px;
    margin-top:-15px;
    padding:0px;
    font-size:14px;
}

.SignUpHere a:hover{
   text-decoration: underline;
} 

/******** Sign Up ************/


.signupbox{
    padding-top:130px;
    width:50%;
    margin:auto;
}

.SignUpForm input[type=text], select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  
}
.SignUpForm input[type=password], select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
 
}

.SignUpForm input[type=submit] {
  background-color: #658b6f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

 
}

input[type=submit]:hover {
  opacity: 0.7;
}


/********Profile page/account********/
.profile-page{
  width: 60%;
  margin: 90px auto;
}
.profile-info-div {
  width: 50%;
  display: inline-block;
  /* color: #495f4b; */
  color: #658b6f;
}
.profile-header{
  display: inline-block;
  font-weight: lighter;
  margin-top: 0;
}
.profile-table th {
  text-align: left !important;
  padding-left: 0;
  
}
.profile-table td{
  padding-left: 15px
}
.profile-table tr {
  padding-bottom: 15px;
  display: block;
  font-size: 20px;
  font-weight: lighter;
}
.change-profile-info a{
  padding-left: 5px;
}

.profile-right-div{
  width: 50%;
  float: right;
}
.profile-img-div{
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  border: solid #658b6f;
  
}
.profile-img{
  width: auto;
  height: 100%;
  object-fit: cover;
}
.change-profile-img  {
  text-align: center;
  margin-top:30px;
}

.LogOutButt input[type=submit] {
  background-color: #658b6f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:right;
  margin-right:10%;
  margin-top:30px;
}

.newDestButt{
  float:right;
  background-color: #658b6f;
  color:white;
  padding: 12px 20px;
  border-radius: 4px;
  margin-top:30px;
  margin-right:10px;

}

.newDestButt:hover {
  opacity: 0.7;
}

a.newDestButt{
  font-size:13px;
}


/******** Footer ************/
footer {
  background-color: #c4cdc1 ;
  box-shadow: 0px -5px 20px 5px #495f4b70;	
  width:100%; 	
  float:left;
  bottom:0;
  margin-top:5vw;
  }
  
  .footertext {
  text-align:center;
  }
  
  .footertext h4 {
   color: #658b6f ;
  text-align:center;
  font-size:1.3vw;
  }
  
  .footertext img {
  width:8%;
  }