
/***********GENERAL*********************/

body {
	width:100%;
	margin: 0 auto;
	font-family: 'Bebas-Neue', sans-serif;
}

main {
	margin: 0 auto;
	min-width: 300px;
  width: 80%;
  margin-top: 50px;
}

a {
	color:#e0d0ae;
	padding: 1vw;
	margin: 0 auto;
	text-decoration: none;
}

.warning {
  color: red;
}

/***********Header*********************/
header {	
    height:7vw;
    background-color: #c4cdc1 ;
    box-shadow: 0px 5px 20px 5px #495f4b70;
}
#topnavDIV{
    width: 100%;	
}

.top-nav {
    width: 90%;
    margin: 0 auto;
    list-style: none;
}
#topnavDIV ol {
padding-inline-start: 0px !important;
}

.top-nav li {
    line-height:5vw;
    float:left;
    margin-top: 1%;	
    text-transform: uppercase;
}

.top-nav h1 {
    font-size: 1vw;
    margin:auto 0;	
}

.top-nav a {
    text-decoration: one;
    color: #658b6f ;
}
.activelink{
    color:#664430 !important;
}
.header_right{
    padding-right: 4vw;
    display: inline-block;
   
}
.header_middle{
    display: inline-block;
    
}
.header_left{
    padding-left: 6vw;
    display: inline-block;
}

.fav-icon {
    max-width:100%;
    height:auto;
}
.logoheader {
    max-width: 100%;
    height: auto;
}

.logodiv {
    width:5vw;
    float: left;
    padding-right: 2vw;
}

.fav-div {
    width:5vw;
    float: left;
    padding-right: 2vw;
}

.search-container button:hover {
  background: #ccc;
  
}

.search-container input[type=text] {
  padding: 3%;
  margin: 6.5% 0% 0% -10%;
  font-size: 1.35vw;
  border: solid;
  border-color: #658b6f ;
  border-radius: 5%;
}

.search-container {
    padding-left:2vw;
    width:100%;
   
}


/******** Home Page ************/

.slideshow-container{
    width:100%;
    position:relative;
    margin:auto;

}

.mySlides{
    display:none;

}

.mySlides img{
    width:100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.textSlider {
  color: #000000;
  font-size: 50px;
  padding: 180px 150px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/******** All Destinations ************/
main .destGrid{
    text-align: center;
    max-width:100% !important;

}

  main>ul>li {
    width: 30%;
    padding: 10px;
    display: inline-block;
  }

  .text-on-img {
    position: relative;
    display: inline-block;
  }

  .text-on-img>a {
    display: inline-block;
  }

  .img-fix {
    transition: transform .7s;
    position: relative;
    margin: 0 0 15px 0;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .img-fix:hover {
    transform: scale(1.02);
  }

/******** Login Page ************/
.loginBox{
    padding-top:130px;
    width:50%;
    margin:auto;
}

.LoginForm input[type=text]{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.LoginForm input[type=password] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.LoginForm input[type=submit] {
  background-color: #658b6f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:3%;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.SignUpHere{
    color: #c4cdc1;
    margin:0px;
    margin-top:-15px;
    padding:0px;
    font-size:14px;
}

.SignUpHere a:hover{
   text-decoration: underline;
} 

/******** Sign Up ************/

.SignUpForm input[type=text], select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.SignUpForm input[type=password], select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.SignUpForm input[type=submit] {
  background-color: #658b6f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

input[type=submit]:hover {
  opacity: 0.7;
}
/********Profile page /account********/
.profile-page{
  width: 60%;
  margin: 60px auto;
}
.profile-info-div {
  width: 50%;
  display: inline-block;
}
.profile-header{
  display: inline-block;
  font-size: 28px;
}
.profile-table th {
  text-align: left !important;
  
}
.profile-table td{
padding-left: 15px
}
.profile-table tr {
  padding-bottom: 15px;
  display: block;
  font-size: 20px;
}

.profile-right-div{
  width: 50%;
  float: right;
}
.profile-img-div{
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  
}
.profile-img{
  width: auto;
  height: 100%;
  object-fit: cover;
}
.change-profile-img  {
  text-align: center;
}

/********Destination********/
.destination-div{
  margin: 0 auto;
  padding: 60px 60px;
}
.destination-fact-div{
  width: calc(30% - 60px);
  float: left;
  padding-right: 60px;
  }
.destination-img{
width: calc(70% - 30px);
box-sizing: border-box;
float: right;
padding-left: 30px;
}

.destination-img img {
object-fit: cover;
max-height: 300px;
width: 100%;}

.destination-text-div{
width: 50%;
display: inline-block;
box-sizing: border-box;
margin-top: 30px;;
}
/*********** Random destination *********************/
.randomize {
    text-align: center;
}

#randomize-btn {
    padding: 15px 20px;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 1.4em;
    border: none;
    border-radius: 8px;
    background-color: #658b6f;
    font-weight: bold;
    color: #fff;
}

#randomize-btn:hover {
    background-color: #93caa2;
}

#random-destination {
    display: none;
}

/******** Upload Destination ************/
#destinationUpload {
  width: 60%;
}

#destinationUpload label{
  font-size: 1em;
  display: block;
  margin-bottom: 5px;
}

#destName, #destDes, #destCity {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  font-family: 'Bebas-Neue', sans-serif;
  font-size: 0.9em;
  margin-bottom: 40px;
}

#destDes {
  height: 4em;
}

#destinationUpload button {
  padding: 14px 20px;
  margin: 40px 0px;
  border: none;
  border-radius: 8px;
  background-color: #658b6f;
  color: #fff;
}

#destinationUpload button:hover {
  background-color: #93caa2;
}


/******** Footer ************/
footer {
  background-color: #c4cdc1 ;
  box-shadow: 0px -5px 20px 5px #495f4b70;	
  width:100%; 	
  float:left;
  bottom:0;
  margin-top:15vw;
  }
  
  .footertext {
  text-align:center;
  }
  
  .footertext h4 {
   color: #658b6f ;
  text-align:center;
  font-size:1.3vw;
  }
  
  .footertext img {
  width:8%;
  }